# Translator Frontend ignored files
node_modules/
build/

# SA Logic ignored files
venv/

# SA WebApp ignored files
target/
.mvn/
!**/maven-wrapper.jar

# IDE ignored files
.idea/
*.iml
*.log
Backups/*.zip
**/**/*.htmle
**/**/*.jse
*.swp

logs/.sa-logic.log.swp
